<%= link_to "#{Coin.model_name.human}", coins_path, class:"btn btn-primary btn-lg"%>
<%# <a class="btn btn-primary btn-lg" href="#" role="button">Moedas</a> %>
<%= link_to "#{MiningType.model_name.human}", mining_types_path, class:"btn btn-primary btn-lg"%>
<%# <a class="btn btn-primary btn-lg" href="#" role="button">Tipos de Mineração</a> %>
