<div id="<%= dom_id mining_type %>" class="mining_type">
  <p>
    <strong>Name:</strong>
    <%= mining_type.name %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= mining_type.acronym %>
  </p>

    <p>
      <%= link_to "Show this mining type", mining_type %>
    </p>

</div>
