/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/dist/css/bootstrap
 */
body {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    margin-top: 0;
}

#coins{
    display: flex;
    flex-wrap: wrap;
}

#mining_types{
    display: flex;
    flex-wrap: wrap;
}

#coin-index {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border: 3px solid rgb(255, 215, 0);;
    border-radius: 5px;

}

#coin-show {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border: 3px solid rgb(255, 215, 0);;
    border-radius: 5px;
    max-width: fit-content;
}

#coin-inform{
    display: flex;
}

.mining_type{
    margin: 5px;
    padding: 5px;
    border: 3px solid rgb(255, 215, 0);;
    border-radius: 5px;
}

button{
    padding: 3px;
    margin: 5px;
}

/* .button{
    background: none;
    border: none;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(255, 215, 0);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    color: black;
} */

.links {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content:space-around;
}

/* .show-button a{
    background: none;
    border: none;
    font-weight: bold;
    background-color: rgb(255, 215, 0);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    color: black;
} */

.coin-inform{
    display: flex;
}

#coin-image{
    margin-left: 30px;
}

.flags{
    display: flex;
}

.flags p {
    margin-right: 20px;
}

.flags img{
    height: 50px;
}