<h1> <%= image_tag "https://cdn-icons-png.flaticon.com/512/269/269074.png", :style => "width: 25px; height: 25px;" %>
Editar</h1>

<%= render "form", coin: @coin %>

<br>

<div>
  <%= link_to "Show this coin", @coin %> |
  <%= link_to "Back to coins", coins_path %>
</div>
